body {
	padding: 0;
	margin: 0;
}

header {
	background-color: #fff;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 100px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.25rem;
}

.m {
	letter-spacing: 1pt;
	color: darkgreen;
	font-weight: 700;
	font-size: 1rem;
}

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 42px;
	height: auto;
}

/* Larger viewports */
@media only screen and (min-width: 32.5em) {
	header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 2.3rem;
		margin: 0;
	}

	.m {
		letter-spacing: .1pt;
		font-size: 1.3rem;
	}
}
